In [1]:
#Range#

-Your Name-
-Your Age-
-Your Profession-

In [7]:
range(0,11)

range(0, 11)

In [8]:
print(range(0,11))

range(0, 11)

In [9]:
for num in range(0,11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for raj in range(10,20):
    print(raj)

10
11
12
13
14
15
16
17
18
19

In [11]:
list=[10,20,14,55,43,87,76]
print(len(list))

7

In [5]:
tup1=("1,Welcome")
tup2=(", 2,Hope")
tup3=tup1+tup2
print(tup3)

1,Welcome, 2,Hope

In [6]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [3]:
tuple1=(0,1,2,3)
tuple2=("python","Hope")
tuple3=(tuple1,tuple2)
#print("\nTuple with nested tuples")
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [21]:
#Odd NUmber Program#
num=[20,10,16,19,25,1,276,188]
for num1 in num:
    if(num1%2!=0):
        print("odd Number")
    else:
        print("Even Number")

Even Number
Even Number
Even Number
odd Number
odd Number
odd Number
Even Number
Even Number

In [22]:
#Even NUmber Progran#
num2=[20,10,16,19,25,1,276,188]
for num3 in num2:
    if(num3%2==0):
        print("Even NUmber")
    else:
        print("Odd NUmber")

Even NUmber
Even NUmber
Even NUmber
Odd NUmber
Odd NUmber
Odd NUmber
Even NUmber
Even NUmber